.custom-img-size {
  width: 50px;
  height: 50px;
}
.custom-img-size-third {
  width: 68px;
}

.shipping-wrapper p {
  font-size: 13px;
  margin-right: 10px;
}
.shipping-wrapper-p {
  display: flex;
  flex-direction: column;
}
.custom-responsive-xl {
  width: 40%;
  margin-bottom: 18px;
}
.custom-ads-col-md-6 {
  flex: 0 0 47.8%;
  max-width: 47.8%;
}

@media (max-width: 767px) {
  .custom-ads-col-md-6 {
    flex: 0 0 67.5%;
    max-width: 67.5%;
  }
}
